<div class="item5 footer">
    <div class="row">
      <div class="column column-left">
        <a href="#" class="fa fa-facebook"></a>
        <a href="#" class="fa fa-twitter"></a>
        <a href="#" class="fa fa-instagram"></a>
      </div>
      <div class="column column-middle">
        <div class="row">
          <div class="middle-col-left-part">
            <a href="#">Privacy Policy</a>
            <a href="#">Terms & Conditions</a>
            <a href="#">Complain</a>
            <a href="#">Pricing</a>
          </div>
          <div class="middle-col-right-part">
            <a href="#">About us</a>
            <a href="#">Contact us</a>
            <a href="#">Career</a>
            <a href="#">Sitemap</a>
            
          </div>
        </div>
        
      </div>
      <div class="column column-right"> 
        <button>
          <i class="fa fa-apple"></i>
          <br/>
          <span>Apple App</span> 
        </button>
        <button>
          <i class="fa fa-play"></i>
          <br/>
          <span>Android App</span>
        </button>
       <br/>
        <span>&#169; 2020 Home Delivery Services</span>
        
        
      </div>
    </div>
   
  </div>
</div>

<script src="javascripts/script.js"></script>
</body>
</html>
