<%- include('header')  %> 

      <div class="item3 main">
        <div class="container search-bar">
          <h1>Search your favourite Shop here...</h1>
          <form>
            <input placeholder="Search Shop here..."/><button>Search Shop</button>
          </form>
          
        </div>
        
      </div>
      <div class="item4">
        Right
        
      </div>

      
<%- include('footer')  %> 